<div id="main">
    <div id="subscribe-div">
        <h2>Add subscription (Actor, Director, Genre)</h2>
        <div id="sub-input-div">
        <input matInput placeholder="Enter subscription content" [(ngModel)]="subscriptionValue" id="sub-input">
        <button mat-flat-button (click)="onSubscribe()">Subscribe</button>
        </div>
    </div>
    <div id="view-subscriptions-div">
        <h2>View subscriptions (Actor, Director, Genre)</h2>
        <div *ngFor="let item of subscriptions" class="subscription-item">
          {{ item }}
          <button mat-flat-button (click)="onDeleteSubscription(item)">Delete</button>
        </div>
    </div>
</div>