<mat-toolbar color="primary" id="toolbar">
    <span id="logo" routerLink="/home"><mat-icon style="transform: scale(2);">local_movies</mat-icon><p>KINOTEKA</p></span>
    <div id="search-div">
        <select id="select" #selectElement>
            <option value="title">Title</option>
            <option value="description">Description</option>
            <option value="actor">Actor</option>
            <option value="director">Director</option>
            <option value="genre">Genre</option>
        </select>
        <input placeholder="Search" id="search" [(ngModel)]="searchValue" (keyup.enter)="onSearch()">
    </div>
    <div id="btns-div">
        <!-- <button mat-flat-button id="upload-button" routerLink="/add-movie" *ngIf="user == 'savke542'">Upload</button> -->
        <button mat-flat-button id="upload-button" routerLink="/add-movie" *ngIf="user == 'savke542'">Upload</button>
        <button mat-flat-button id="logout-button" (click)="redirectToLogin()">Logout</button>
    </div>
</mat-toolbar>